/* 棋子样式 */
.piece {
	width: 38px;
	height: 38px;
	line-height: 30px;
	position: absolute;
	z-index: 100;
	text-align: center;
	border: 4px solid #c96;
	border-radius: 50%;
	background: #fc9;
	font-style: normal;
	font-size: 24px;
	font-family: "隶书";
	cursor: pointer;
	/* 防止文本被选中 */
	-moz-user-select: none;		/* 火狐 */
  -webkit-user-select: none;	/* webkit浏览器 */
  -ms-user-select: none;		/* IE10 */
  -khtml-user-select: none;	/* 早期浏览器 */
  user-select: none;
}
.piece-red {
	color: red;
}
.piece-black {
	color: black;
}
.piece-select {
	border-color: #3c3;
}